<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="covid19_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <covid19_App.Properties.Settings>
            <setting name="covTarih" serializeAs="String">
                <value />
            </setting>
            <setting name="covToplaTest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="covToplamVaka" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="covToplamVefat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="covAgirHasta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="covToplamİyilesen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="covBugunkuHasta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="covBugunkuTest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="covBugunVefat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="covBugunİyilesen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="covZature" serializeAs="String">
                <value>0</value>
            </setting>
        </covid19_App.Properties.Settings>
    </userSettings>
</configuration>